*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    background-color: #000814;
    color: rgb(222,222,222);

      
      
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
}
#bar{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 4vmin;
    border-radius: 2rem;
    height: 9vmin;
    width: 65%;
    padding-left: 10px;
    backdrop-filter: blur(20px);
    background-color: rgba(0, 8, 20, 0.5); 
    opacity: 1;
    transition: box-shadow 0.3s ease-in-out;
   
}
.glowing-shadow{
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}
#icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: auto;
    width: 20vmin;
}
#intro{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 800;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    letter-spacing: -0.6px;
    display: flex;
    align-items: flex-end;
    height: 60vmin;
    width: 86.6%;

}

.R-apps{
    background-color: #001219;
    border-radius: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.6s ease, transform 0.6s ease;
height: 50vmin;
width: 43vmin;
}

.R-apps:hover{
    transform: rotate(15deg); 
}
.L-apps{
    background-color: #001219;
    border-radius: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.6s ease, transform 0.6s ease;
height: 50vmin;
width: 43vmin;
}
.L-apps:hover{
    transform: rotate(-15deg); 
}
.img-background {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vmin;
    border-radius: 2rem;
    height: 20vmin;
    width: 35vmin;
    transition: box-shadow 0.5s ease; 
}


#text{
    margin-bottom: 2vmin;
    height: 20vmin;
    width: 32vmin;
}
#up-text{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 800;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 15px;
    height: 10vmin;
    width: auto;

}
.down-text{
    font-family: "Inter", sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.3);
    height: 10vmin;
    width: auto;
}
#socials-container{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 6vmin;
    height: 130vmin;
    width: 100%;
}
#right-container,#left-container{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 5vmin;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#left-container{
    margin-top: 30vmin;
}
#instagram{
    font-size:80px;
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
}
#instagram:hover{
    box-shadow: 0 0 10px rgba(131, 58, 180, 0.5), 0 0 20px rgba(253, 29, 29, 0.5), 0 0 30px rgba(252, 176, 69, 0.5);
}
#facebook{
    background-color: #1877f2;
    font-size:80px;
}
#facebook:hover{
    box-shadow: 0 0 10px rgba(24, 119, 242, 0.5), 0 0 20px rgba(24, 119, 242, 0.5), 0 0 30px rgba(24, 119, 242, 0.5); /* Glowing effect on hover */
}
#twitter{
    background-color: #1da1f2;
    font-size:80px;
}
#twitter:hover{
    box-shadow: 0 0 10px rgba(29, 161, 242, 0.5), 0 0 20px rgba(29, 161, 242, 0.5), 0 0 30px rgba(29, 161, 242, 0.5); 
}
#github{
    font-size: 80px;
    background: linear-gradient(to right, #0d1117, #0d1117);
}
#github:hover{
   
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.5); /* Glowing effect on hover */
}
